
// ===========================================
// Global Config
// ===========================================


/* Formatting Rules
   ===========================================
 
   Use BEM naming convention --> http://getbem.com/naming/

   Groups:
   -------------
    1. Structure
    2. Font
    3. Effects
    4. Color

   Properties:
   -------------
    1. Display & Box Model (padding/border/margin)
    2. Height & Width
    3. Positioning
    4. Alphabetical
    5. Mixins
    6. Media Queries

 */


// Font
// ===========================================
  // Google Font URL
  $font-url--google  : "https://fonts.googleapis.com/css?family=Baloo+Thambi|Signika";

  // Font Families
  $font-family-primary    : "Signika", "Helevtica Neue", Helvetica, Arial, sans-serif;
  $font-family-secondary  : "Baloo Thambi", serif;

  // Font Size
  $font-size--base   : 16px;
  $line-height--base : 22px;


// Color
// ===========================================
  // Base Colors
  // $black        : #1A1A1A;
  // $white        : #FFFFFF;

  // Theme Colors
  $grey   : #292929;
  $black  : #121314;
  $green  : #2A9978;
  $blue   : #6FC3DF;
  $red    : #D81E15;
  $orange : #DF740C;
  $yellow : #FFE64D;
  $white  : #E6FFFF;

  // Color Shades
  $color-shades: (
    white: (
      light     : lighten($white, 9%),
      base      : $white,
      dark      : darken($white, 9%)
    ),
    black: (
      x-light   : lighten($black, 18%),
      light     : lighten($black, 9%),
      base      : $black
    ),
    blue: (
      base      : $blue,
      dark      : darken($blue, 12%),
      x-dark    : darken($blue, 18%),
      xx-dark   : darken($blue, 24%)
    ),
    green: (
      light     : lighten($green, 6%),
      base      : $green
    )
  );


