
// ===========================================
// Game Board
// ===========================================


// Structure
// ===========================================  
  #title {
    margin-top: rem(15px);

    @include bp-min-width(700px) {
      margin-top: rem(50px);
    }

    @include bp-min-width(1025px) {
      margin-top: rem(25px);
    }
  }

  #scoreboard {
    margin: rem(7.5px) auto;
    font-size: rem(18px);
  }

  #score {
    margin-right: rem(7.5px);
  }

  #game-board {
    margin-top: rem(15px);
    margin-right: auto;
    margin-left: auto;
    @include no-select;
  } 

  // #overlay {
  //   background: rgba($black, 0.8);
  
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  // }

  // #game-over {
  //   font-size: rem(50px);
  //   color: $white;
  //   white-space: nowrap;

  //   @include absolute-center;
  // }

  #options {
    margin: rem(10px) auto;
  }

  #space-mode {
    padding: rem(5px);
    cursor: pointer;

    font-size: rem(18px);

    .fa { 
      font-size: rem(16px);
      margin-right: rem(7.5px);
    }
  }

  .square {
    cursor: pointer;
    float: left;
    z-index: 1;
  }

  .square--top-left {
    border-top-left-radius: rem(30px);
  }

  .square--top-right {
    border-top-right-radius: rem(30px);
  }

  .square--bot-left {
    border-bottom-left-radius: rem(30px);
  }

  .square--bot-right {
    border-bottom-right-radius: rem(30px);
  }


// Sizing
// =========================================== 
  #game-board {
    height: rem(300px);
    width: rem(300px);

    .square {
      width: rem(100px);
      height: rem(100px);
    }

    @include bp-min-width(700px) {
      height: rem(450px);
      width: rem(450px);

      .square {
        width: rem(150px);
        height: rem(150px);
      }
    }
  }


// Font
// ===========================================  
  .square {
    font-family: $font-family-secondary;
    font-size: rem(40px);
    line-height: 2.5;

    @include bp-min-width(750px) {
      font-size: rem(50px);
      line-height: 3;
    }
  }


// Effects
// ===========================================
  .square {
    @include transition("transform box-shadow color", 0.3s);
    @include backface-visibility(hidden);
    @include transform(translateZ(1));

    &.clicked {
      @include transform(scale(1.1));
      box-shadow: 0 0 rem(50px) rem(-10px) $black;
      z-index: 10;
    }
  }


// Color
// ===========================================
  .square {
    border: rem(1px) solid $black;
    background: $green;
    color: $white;

    &:hover {
      background: lighten($green, 5%);
    }

    &.clicked {
      background: $blue;
      color: lighten($white, 8%);
    }
  }
  
